# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pkl
*.pickle

# Virtual environment
.venv/
env/
ENV/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.bak

# MediaPipe model files (you deleted hand_landmarker.task anyway)
*.task

# IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other
*.swp